<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-12" id="blog-listing-medium">
<!--                        {{ $paginator := .Paginate (where .Data.Pages "Type" "in" "jobs") }}-->
                        {{ range .Pages.GroupByParam "company" }}
                            <section class="post">
                                <h1>{{ .Key }}</h1>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="intro">
                                            {{ (index (.Pages) 0).Params.about}}
                                        </p>
                                    </div>
                                </div>
                                {{ range where $paginator.Pages "Params.company" .Key}}
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2><a href="{{ .Permalink }}"> {{ .Params.job }}</a></h2>

                                        {{ if not .Site.Params.recent_posts.hide_summary }}
                                        <p class="intro"> {{ .Content }}</p>
                                        <p class="read-more"><a href="{{ .Params.link }}"  target="_blank" class="btn btn-template-main">Learn more</a>
                                        </p>
                                        {{ end }}
                                    </div>
                                </div>
                                {{ end }}
                            </section>

                        {{ end }}
                    </div>


                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
