<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-12" id="blog-post">
                        <div id="post-content">
<!-- Ticket Tailor Widget. Paste this into your website where you want the widget to appear. Do not change the code or the widget may not work properly. -->
<div class="tt-widget"><div class="tt-widget-fallback"><p><a href="https://www.tickettailor.com/checkout/new-session/id/3707610/chk/9751/" target="_blank">Click here to buy tickets</a><br /><small><a href="https://www.tickettailor.com?rf=wdg_127508" class="tt-widget-powered">Sell tickets online with Ticket Tailor</a></small></p></div><script src="https://cdn.tickettailor.com/js/widgets/min/widget.js" data-url="https://www.tickettailor.com/checkout/new-session/id/3707610/chk/9751/" data-type="inline" data-inline-minimal="true" data-inline-show-logo="false" data-inline-bg-fill="false" data-inline-inherit-ref-from-url-param="utm_campaign" data-inline-ref=""></script></div>
<!-- End of Ticket Tailor Widget --> 
                            <h1>Frequently Asked Questions</h1>

                  
                            <h2>Buying tickets through invoice</h2>
                            If you would rather have us invoice you to purchase tickets, please use <a target="_blank" href="https://forms.monday.com/forms/f057930c0d8b18b4328a5f5818b21517?r=use1">this form.</a> Please note this is only possible for corporate tickets.

                            Invoice terms are due on delivery and tickets will not be provided until invoices are paid in full. Upon payment, links to register and assign your tickets will be provided via email. 

                            <!-- <h2>What is included in my ticket?</h2>
                            If you purchase a talk pass (either individual or corporate), you will have access to all talks in room 1, 2 and 3. 
                            Access to the other sessions
                            in the Tutorial room can only be accessed with a 'Tutorial Pass' -->

                            <h2>How about meals?</h2>
                            Meals and drinks are <b>included in your ticket</b>.
                            Breakfast, lunch, an afternoon snack are provided at fixed points in the day (see the program).
                            Coffee, tea and refreshments are continuously available.

                            <!-- <h2>What's the 'Tutorial Pass'?</h2> -->
                            <!-- The Tutorial Pass gives you access to the talks happening in the 'Tutorial Room'. These talks -->
                            <!-- will be for a smaller audience, are longer and are more interactive sessions where you work through -->
                            <!-- exercises guided by the speaker. -->
                            <!---->
                            <!-- Tutorials won't be recorded. -->
                            <!---->
                            <!-- Due to the limited space, access to individual tutorials will use a sign-up system on a first-come -->
                            <!-- first-served basis. You will have guaranteed access to at least 3 tutorials. -->

                            <h2>I need to make changes to my registration. Whom do I contact?</h2>
                            Please contact admin@pydata.org for any changes to your registration.

                            <h2>What is the refund policy?</h2>
                            Full refunds are available when cancellation is made prior to 7 days before the start of the event. Within 7 days of the start of the event, cancellations will be refunded at 50%. No refunds will be available for any cancellations made on or after the start date of the event.

                            <h2>Can I purchase my registration on-site?</h2>
                            A limited number of tickets may be available at the registration desk, however we strongly suggest you register in advance. We cannot guarantee the availability of any tickets on-site.


                        </div>

                    </div>


                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
