<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description | markdownify }}</p>
		<ul class="actions">
			{% if site.cfp_url %}
			<li><a href={{ site.cfp_url }} class="button special">Submit a proposal</a></li>
			{% endif %}
			{% if site.tickets_url %}
			<!--<li><a href={{ site.tickets_url }} class="button special">Buy tickets</a></li>-->
			<li class="button disabled">Tickets open soon</li>
			{% endif %}
		</ul>
	</div>
	<a href="#posts" class="more scrolly">Learn More</a>
</section>
