
<li class="p30">
    <h3>{{ include.name }}</h3>
    <p>{{ include.desc }}</p>
    <ul class="icons" style="list-style: none; margin-bottom: 5px">
         {% if include.twitter_url %}
        <li style="background-color: rgba(0, 0, 0, 0); display: inline;">
            <a href="{{ include.twitter_url }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a>
        </li>
        {% endif %} {% if include.linkedin_url %}
        <li style="background-color: rgba(0, 0, 0, 0); display: inline;">
            <a href="{{ include.linkedin_url }}" class="icon fa-linkedin" target="_blank"><span class="label">Twitter</span></a>
        </li>
        {% endif %} {% if include.github_url %}
        <li style="background-color: rgba(0, 0, 0, 0); display: inline">
            <a href="{{ include.github_url }}" class="icon fa-github" target="_blank"><span class="label">Twitter</span></a>
        </li>
        {% endif %}
    </ul>
</li>
