<style>
    .form-inline {
  display: flex;
  flex-flow: column wrap;
}
.form-inline span.form-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
}

.form-inline span.small {
    font-size: 11px;
}
</style>
<section id="two" class="wrapper alt style2">
    <section class="spotlight wide">
        <div class="content-wide">
            <h2>Newsletter</h2>
            <p>Want to stay up to date with all we're doing? Sign up here or read the newsletter by clicking on the links below:</p>

            <form class="form-inline" action="https://tinyletter.com/PyDataGlobal" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/PyDataGlobal', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                <span class="form-row">
                    <input type="text" style="width:600px" name="email" id="tlemail" placeholder="global@pydata.org" />
                    <input type="hidden" value="1" name="embed"/>
                    <input type="submit" value="Subscribe" />
                </span>

                <span class="form-row">
                    <a href="https://tinyletter.com" target="_blank"><span class="small">powered by TinyLetter</span></a>
                </span>
            </form>
        </div>
    </section>


</section>
