<section id="posts" class="wrapper alt style2">

	{% for post in site.categories.homepage %}{% if site.tiles-source == 'posts' %}

	<section class="spotlight">
		{% if post.youtube or post.image or post.twitter%}
		<div class="image">
			{% if post.youtube %}
			<iframe width="100%" height="370" src={{ post.youtube }} frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
			{% endif %}
			{% if post.image %}
			<img src="{% if site.featured-image-source %}{{ post.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ post.image }}{% endif %}"
				alt="" />
			{% endif %}
			{% if post.twitter %}
			<a class="twitter-timeline" data-width="800" data-height="500" data-theme="dark"
				href="https://twitter.com/PyData?ref_src=twsrc%5Etfw">Tweets by PyData</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			{%endif%}
		</div>
		{% endif %}

		{% if post.youtube or post.image %}
		<div class="content">
		{% else %}
			<div class="content align-center div-center">
				{% endif %}
				{% if post.customurl %}
				<h2><a href="{{ post.customurl}}" class="link">{{ post.title }}</a></h2>
				{% else %}
				<h2><a href="{{ post.url | relative_url }}" class="link">{{ post.title }}</a></h2>
				{% endif %}
				<p>{{ post.content }}</p>
			</div>
	</section>

	{% endif %}{% endfor %}
	{% for page in site.pages %}{% if site.tiles-source == 'pages' %}{% if page.layout == 'default' %}{% continue %}{% endif %}

	<section class="spotlight">
		<div class="image">{% if page.image %}
			<img src="{% if site.featured-image-source %}{{ page.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ page.image }}{% endif %}"
				alt="" />
			{% endif %}

		</div>
		<div class="content">
			<h2><a href="{{ page.url | relative_url }}" class="link">{{ page.title }}</a></h2>
			<p>{{ page.description }}</p>
		</div>
	</section>

	{% endif %}{% endfor %}

</section>