{% assign sorted_talks = site.talks | sort: "title" %}
{% assign keynotes = sorted_talks | where:'kind', 'Keynote' %}
{% assign talks = sorted_talks | where_exp:"talk", "talk.kind == 'Talk' or talk.kind == 'Sponsor talk'" %}
{% assign tutorials = sorted_talks | where:'kind', 'Tutorial' %}
{% assign sprints = sorted_talks | where:'kind', 'Sprint' %}
{% assign short_talks = sorted_talks | where:'kind', 'Short talk' %}
{% assign posters = sorted_talks | where:'kind', 'Poster' %}
{% assign extracurriculars = sorted_talks | where:'kind', 'Extracurricular' %}


<h1>Keynotes</h1>
<ul>

  {% for talk in keynotes %}
    <li>
        <b><a href="{{ talk.url }}">{{ talk.title }}</a></b>, by {{talk.speakers}}
    </li>
  {% endfor %}
</ul>
<h1>Talks</h1>
<ul>

  {% for talk in talks %}
    <li>
        <b><a href="{{ talk.url }}">{{ talk.title }}</a></b>, by {{talk.speakers}}
    </li>
  {% endfor %}
</ul>
<h1>Tutorials</h1>
<ul>

  {% for talk in tutorials %}
    <li>
      <b><a href="{{ talk.url }}">{{ talk.title }}</a></b>, by {{talk.speakers}}
    </li>
  {% endfor %}
</ul>
<h1>Short Talks</h1>
<ul>

  {% for talk in short_talks %}
    <li>
      <b><a href="{{ talk.url }}">{{ talk.title }}</a></b>, by {{talk.speakers}}
    </li>
  {% endfor %}
</ul>
<h1>Posters</h1>
<ul>

  {% for talk in posters %}
    <li>
      <b><a href="{{ talk.url }}">{{ talk.title }}</a></b>, by {{talk.speakers}}
    </li>
  {% endfor %}
</ul>
<h1>Sprints</h1>
<ul>

  {% for talk in sprints %}
    <li>
      <b><a href="{{ talk.url }}">{{ talk.title }}</a></b>
    </li>
  {% endfor %}
</ul>
<h1>Extracurriculars</h1>
<ul>

  {% for talk in extracurriculars %}
    <li>
      <b><a href="{{ talk.url }}">{{ talk.title }}</a></b>
    </li>
  {% endfor %}
</ul>
