<section  class="wrapper alt style2 schedule">
	 <section class="spotlight wide">
        <div class="content-wide">
            <h2>Schedule</h2>
<div class="cd-schedule loading">
	<div class="timeline">
		<ul>
			<li><span>09:00</span></li>
			<li><span>09:30</span></li>
			<li><span>10:00</span></li>
			<li><span>10:30</span></li>
			<li><span>11:00</span></li>
			<li><span>11:30</span></li>
			<li><span>12:00</span></li>
			<li><span>12:30</span></li>
			<li><span>13:00</span></li>
			<li><span>13:30</span></li>
			<li><span>13:30</span></li>
			<li><span>14:30</span></li>
			<li><span>15:00</span></li>
			<li><span>15:30</span></li>
			<li><span>16:00</span></li>
			<li><span>16:30</span></li>
			<li><span>17:00</span></li>
			<li><span>17:30</span></li>
			<li><span>18:00</span></li>
			<li><span>18:30</span></li>
			<li><span>19:00</span></li>
			<li><span>19:30</span></li>
			<li><span>20:00</span></li>
			<li><span>20:30</span></li>
		</ul>
	</div> <!-- .timeline -->

	<div class="events">
		<ul class="wrap">
			<li class="events-group">
				<div class="top-info"><span>Monday</span></div>
				<ul>
					<li class="single-event" data-start="09:00" data-end="11:00"  data-content="code-breakfast-mon" data-event="event-2">
						<a href="#0">
							<em class="event-name">Code Breakfast</em>
							<em class="event-details">Speaker - topic</em>
						</a>
					</li>


					<li class="single-event" data-start="12:30" data-end="13:30" data-content="lunch-chats-mon" data-event="event-1">
						<a href="#0">
							<em class="event-name">Lunch chats</em>
						</a>
					</li>
					<li class="single-event" data-start="18:45" data-end="20:00"  data-content="dinner-talks-mon" data-event="event-3">
						<a href="#0">
							<em class="event-name">Talks</em>
							<em class="event-details">Speaker 1 - topic 1<br>Speaker 2 - topic 2</em>
						</a>
					</li>
				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Tuesday</span></div>

				<ul>
					<li class="single-event" data-start="09:00" data-end="11:00"  data-content="code-breakfast-tue" data-event="event-2">
						<a href="#0">
							<em class="event-name">Code Breakfast</em>
							<em class="event-details">Speaker - topic</em>
						</a>
					</li>


					<li class="single-event" data-start="12:30" data-end="13:30" data-content="lunch-chats-tue" data-event="event-1">
						<a href="#0">
							<em class="event-name">Lunch chats</em>
						</a>
					</li>
					<li class="single-event" data-start="18:45" data-end="20:00"  data-content="dinner-talks-tue" data-event="event-3">
						<a href="#0">
							<em class="event-name">Talks</em>
							<em class="event-details">Speaker 1 - topic 1<br>Speaker 2 - topic 2</em>
						</a>
					</li>
				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Wednesday</span></div>

				<ul>
					<li class="single-event" data-start="09:00" data-end="11:00"  data-content="code-breakfast-wed" data-event="event-2">
						<a href="#0">
							<em class="event-name">Code Breakfast</em>
							<em class="event-details">Speaker - topic</em>
						</a>
					</li>


					<li class="single-event" data-start="12:30" data-end="13:30" data-content="lunch-chats-wed" data-event="event-1">
						<a href="#0">
							<em class="event-name">Lunch chats</em>
						</a>
					</li>
					<li class="single-event" data-start="18:45" data-end="20:00"  data-content="dinner-talks-wed" data-event="event-3">
						<a href="#0">
							<em class="event-name">Talks</em>
							<em class="event-details">Speaker 1 - topic 1<br>Speaker 2 - topic 2</em>
						</a>
					</li>
				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Thursday</span></div>

				<ul>
					<li class="single-event" data-start="09:00" data-end="11:00"  data-content="code-breakfast-thu" data-event="event-2">
						<a href="#0">
							<em class="event-name">Code Breakfast</em>
							<em class="event-details">Speaker - topic</em>
						</a>
					</li>


					<li class="single-event" data-start="12:30" data-end="13:30" data-content="lunch-chats-thu" data-event="event-1">
						<a href="#0">
							<em class="event-name">Lunch chats</em>
						</a>
					</li>
					<li class="single-event" data-start="18:45" data-end="20:00"  data-content="dinner-talks-thu" data-event="event-3">
						<a href="#0">
							<em class="event-name">Talks</em>
							<em class="event-details">Speaker 1 - topic 1<br>Speaker 2 - topic 2</em>
						</a>
					</li>
				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Friday</span></div>

				<ul>
					<li class="single-event" data-start="09:00" data-end="11:00"  data-content="code-breakfast-fri" data-event="event-2">
						<a href="#0">
							<em class="event-name">Code Breakfast</em>
							<em class="event-details">Speaker - topic</em>
						</a>
					</li>


					<li class="single-event" data-start="12:30" data-end="13:30" data-content="lunch-chats-fri" data-event="event-1">
						<a href="#0">
							<em class="event-name">Lunch chats</em>
						</a>
					</li>
					<li class="single-event" data-start="18:45" data-end="20:00"  data-content="dinner-talks-fri" data-event="event-3">
						<a href="#0">
							<em class="event-name">Talks</em>
							<em class="event-details">Speaker 1 - topic 1<br>Speaker 2 - topic 2</em>
						</a>
					</li>
				</ul>
			</li>
      <!--        -->
      <li class="events-group">
				<div class="top-info"><span>Saturday</span></div>
				<ul>
					<li class="single-event" data-start="09:00" data-end="17:30" data-content="open-source-sprints" data-event="event-1">
						<a href="#0">
							<em class="event-name">Open Source Sprints</em>
							<em class="event-details">Pandas & PyMC3</em>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="event-modal">
		<header class="header">
			<div class="content">
				<span class="event-date"></span>
				<h3 class="event-name"></h3>
			</div>

			<div class="header-bg"></div>
		</header>

		<div class="body">
			<div class="event-info"></div>
			<div class="body-bg"></div>
		</div>

		<a href="#0" class="close">Close</a>
	</div>

	<div class="cover-layer"></div>
</div> <!-- .cd-schedule -->
		</div>
	 </section>
</section>
