<section  class="wrapper alt style2 schedule">
	 <section class="spotlight wide">
        <div class="content-wide">
            <h2>Schedule</h2>
			<p>Click the events for details</p>
<div class="cd-schedule loading">

	<div class="timeline">

		<ul>
			<li><span>09:00</span></li>
			<li><span>09:30</span></li>
			<li><span>10:00</span></li>
			<li><span>10:30</span></li>
			<li><span>11:00</span></li>
			<li><span>11:30</span></li>
			<li><span>12:00</span></li>
			<li><span>12:30</span></li>
			<li><span>13:00</span></li>
			<li><span>13:30</span></li>
			<li><span>14:00</span></li>
			<li><span>14:30</span></li>
			<li><span>15:00</span></li>
			<li><span>15:30</span></li>
			<li><span>16:00</span></li>
			<li><span>16:30</span></li>
			<li><span>17:00</span></li>
			<li><span>17:30</span></li>
			<li><span>18:00</span></li>
			<li><span>18:30</span></li>
			<li><span>19:00</span></li>
			<li><span>19:30</span></li>
			<li><span>20:00</span></li>
			<li><span>20:30</span></li>
		</ul>
	</div> <!-- .timeline -->

	<div class="events">
		<ul class="wrap">
			<li class="events-group">
				<div class="top-info"><span>Monday</span></div>
				<ul>
					<li class="single-event" data-start="09:00" data-end="10:30"  data-content="code-breakfast-madelon" data-event="event-1">
						<a href="#0">
							<em class="event-name">Code Breakfast</em>
							<em class="event-details">Madelon Hulsebos, Tomislav Suhina & Joost Boonzajer Flaes - Keep the data flowing</em>
						</a>
					</li>
					<li class="single-event" data-start="10:30" data-end="11:30" data-content="code-breakfast-aftercare-mon" data-event="event-2">
						<a href="#0">
							<em class="event-name">Code Breakfast aftercare (optional)</em>
							<em class="event-details">Hang around after the breakfast and work together on additional exercises, or ask in-depth question to the host</em>
						</a>
					</li>
					<li class="single-event" data-start="12:30" data-end="13:00" data-content="lunch-chats-mon-1" data-event="event-3">
						<a href="#0">
							<em class="event-name">Sprint preparation</em>
							<em class="event-details">Git, Github and how to make Open source contributions</em>
						</a>
					</li>
					<li class="single-event" data-start="13:00" data-end="13:30" data-content="lunch-chats-lucas" data-event="event-3">
						<a href="#0">
							<em class="event-name">Interview Lucas Bernardi</em>
							<em class="event-details">ML in production: the Booking.com approach</em>
						</a>
					</li>
					<li class="single-event" data-start="18:00" data-end="18:15" data-content="keynote-mon" data-event="event-3">
						<a href="#0">
							<em class="event-name">Opening notes</em>
						</a>
					</li>
					<li class="single-event" data-start="18:15" data-end="19:00" data-content="keynote-naomi" data-event="event-2">
						<a href="#0">
							<em class="event-name">Keynote - Naomi Saphra</em>
							<em class="event-details">Accessible Means Hackable</em>
						</a>
					</li>
					<li class="single-event" data-start="19:00" data-end="19:30"  data-content="talk-ondrej" data-event="event-4">
						<a href="#0">
							<em class="event-name">Ondrej Kokes</em>
							<em class="event-details">High Performance Data Loss</em>
						</a>
					</li>
					<li class="single-event" data-start="19:30" data-end="20:00"  data-content="talk-sebastian" data-event="event-4">
						<a href="#0">
							<em class="event-name">Sebastián Ramírez</em>
							<em class="event-details">Serving ML Easily with FastAPI</em>
						</a>
					</li>
				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Tuesday</span></div>

				<ul>
					<li class="single-event" data-start="09:00" data-end="10:30"  data-content="code-breakfast-tue" data-event="event-1">
						<a href="#0">
							<em class="event-name">Code Breakfast</em>
							<em class="event-details">Romeo Kienzler - Privacy-Preserving Machine Learning</em>
						</a>
					</li>
					<li class="single-event" data-start="10:30" data-end="11:30" data-content="code-breakfast-aftercare-tue" data-event="event-2">
						<a href="#0">
							<em class="event-name">Code Breakfast aftercare (optional)</em>
							<em class="event-details">Hang around after the breakfast and work together on additional exercises, or ask in-depth question to the host</em>
						</a>
					</li>

					<li class="single-event" data-start="12:30" data-end="13:00" data-content="lunch-chats-tue-1" data-event="event-3">
						<a href="#0">
							<em class="event-name">Sprint preparation</em>
							<em class="event-details">Project layouts and how to understand them</em>
						</a>
					</li>
					<li class="single-event" data-start="13:00" data-end="13:30" data-content="lunch-chats-tue-2" data-event="event-3">
						<a href="#0">
							<em class="event-name">Lunch chats</em>
						</a>
					</li>
					<li class="single-event" data-start="19:00" data-end="19:30"  data-content="talk-max" data-event="event-4">
						<a href="#0">
							<em class="event-name">Max Gendler</em>
							<em class="event-details">Supporting Business Ethics and Governance with Data</em>
						</a>
					</li>
					<li class="single-event" data-start="19:30" data-end="20:00"  data-content="talk-tomas" data-event="event-4">
						<a href="#0">
							<em class="event-name">Tomas Sostak</em>
							<em class="event-details">Popmon: Population shift monitoring made easy</em>
						</a>
					</li>
				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Wednesday</span></div>

				<ul>
					<li class="single-event" data-start="09:00" data-end="10:30"  data-content="code-breakfast-markus" data-event="event-1">
						<a href="#0">
							<em class="event-name">Code Breakfast</em>
							<em class="event-details">Markus Löning - Introduction to Machine Learning with Time Series</em>
						</a>
					</li>
					<li class="single-event" data-start="10:30" data-end="11:30" data-content="code-breakfast-aftercare-wed" data-event="event-2">
						<a href="#0">
							<em class="event-name">Code Breakfast aftercare (optional)</em>
							<em class="event-details">Hang around after the breakfast and work together on additional exercises, or ask in-depth question to the host</em>
						</a>
					</li>


					<li class="single-event" data-start="12:30" data-end="13:00" data-content="lunch-chats-wed-1" data-event="event-3">
						<a href="#0">
							<em class="event-name">Sprint preparation</em>
							<em class="event-details">Introduction to unit testing</em>
						</a>
					</li>
					<li class="single-event" data-start="13:00" data-end="13:30" data-content="lunch-chats-wed-2" data-event="event-3">
						<a href="#0">
							<em class="event-name">Lunch chats</em>
						</a>
					</li>
					<li class="single-event" data-start="18:30" data-end="19:00"  data-content="talk-jim" data-event="event-4">
						<a href="#0">
							<em class="event-name">Jim Dowling</em>
							<em class="event-details">Hopsworks.ai - a feature store for machine learning</em>
						</a>
					</li>
					<li class="single-event" data-start="19:00" data-end="19:30"  data-content="talk-cheuk" data-event="event-4">
						<a href="#0">
							<em class="event-name">Cheuk ting ho</em>
							<em class="event-details">Open-source in the eyes of a Minority Contributor</em>
						</a>
					</li>
					<li class="single-event" data-start="19:30" data-end="20:00"  data-content="talk-andrew" data-event="event-4">
						<a href="#0">
							<em class="event-name">Andrew Therriault</em>
							<em class="event-details">Designing for Impact in Civic Data Science</em>
						</a>
					</li>

				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Thursday</span></div>

				<ul>
					<li class="single-event" data-start="09:00" data-end="10:30"  data-content="code-breakfast-thu" data-event="event-1">
						<a href="#0">
							<em class="event-name">Code Breakfast</em>
							<em class="event-details">James Powell - TBA</em>
						</a>
					</li>
					<li class="single-event" data-start="10:30" data-end="11:30" data-content="code-breakfast-aftercare-thu" data-event="event-2">
						<a href="#0">
							<em class="event-name">Code Breakfast aftercare (optional)</em>
							<em class="event-details">Hang around after the breakfast and work together on additional exercises, or ask in-depth question to the host</em>
						</a>
					</li>

					<li class="single-event" data-start="12:30" data-end="13:00" data-content="lunch-chats-thu-1" data-event="event-3">
						<a href="#0">
							<em class="event-name">Sprint preparation</em>
							<em class="event-details">Docs and generating documentation pages</em>
						</a>
					</li>
					<li class="single-event" data-start="13:00" data-end="13:30" data-content="lunch-chats-release" data-event="event-3">
						<a href="#0">
							<em class="event-name">Interview - Pablo Galindo Salgado & Lukasz Langa</em>
							<em class="event-details">Releasing Python 3.9, and what's in store for 3.10</em>
						</a>
					</li>
					<li class="single-event" data-start="19:00" data-end="19:30"  data-content="dinner-talks-guido" data-event="event-2">
						<a href="#0">
							<em class="event-name">Interview - Guido van Rossum</em>
						</a>
					</li>
					<li class="single-event" data-start="19:30" data-end="20:00"  data-content="talk-chiel" data-event="event-4">
						<a href="#0">
							<em class="event-name">Chiel Peters</em>
							<em class="event-details">Python: From Source To Execution</em>
						</a>
					</li>
					<li class="single-event" data-start="20:00" data-end="20:30"  data-content="talk-ian" data-event="event-4">
						<a href="#0">
							<em class="event-name">Ian Ozsvald</em>
							<em class="event-details">High performance python</em>
						</a>
					</li>
				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Friday</span></div>

				<ul>
					<li class="single-event" data-start="09:00" data-end="10:30"  data-content="code-breakfast-alyona" data-event="event-1">
						<a href="#0">
							<em class="event-name">Code Breakfast</em>
							<em class="event-details">Alyona Galyeva - Human-like visual search application with small data</em>
						</a>
					</li>
					<li class="single-event" data-start="10:30" data-end="11:30" data-content="code-breakfast-aftercare-fri" data-event="event-2">
						<a href="#0">
							<em class="event-name">Code Breakfast aftercare (optional)</em>
							<em class="event-details">Hang around after the breakfast and work together on additional exercises, or ask in-depth question to the host</em>
						</a>
					</li>

					<li class="single-event" data-start="12:30" data-end="13:00" data-content="lunch-chats-fri-1" data-event="event-3">
						<a href="#0">
							<em class="event-name">Sprint preparation</em>
							<em class="event-details">Keep your project clean with linters and pre-commit hooks</em>
						</a>
					</li>
					<li class="single-event" data-start="13:00" data-end="13:30" data-content="lunch-chats-fri-2" data-event="event-3">
						<a href="#0">
							<em class="event-name">Lightning talks</em>
						</a>
					</li>
					<li class="single-event" data-start="18:30" data-end="19:00"  data-content="talk-bertjan" data-event="event-4">
						<a href="#0">
							<em class="event-name">Bertjan Broeksema & Huib Keemink</em>
							<em class="event-details">Exploring Railway Oriented Programming in Python</em>
						</a>
					</li>
					<li class="single-event" data-start="19:00" data-end="19:30"  data-content="talk-thijs" data-event="event-4">
						<a href="#0">
							<em class="event-name">Thijs Suijten</em>
							<em class="event-details">Making an impact with duct tape</em>
						</a>
					</li>
					<li class="single-event" data-start="19:30" data-end="20:00"  data-content="talk-roelof" data-event="event-4">
						<a href="#0">
							<em class="event-name">Roelof Pieters</em>
							<em class="event-details">Watching millions of Trees with Python: For impact and profit</em>
						</a>
					</li>
				</ul>
			</li>
      <!--        -->
      <li class="events-group">
				<div class="top-info"><span>Saturday</span></div>
				<ul>
					<li class="single-event" data-start="09:00" data-end="17:30" data-content="open-source-sprints" data-event="event-2">
						<a href="#0">
							<em class="event-name">Open Source Sprints</em>
							<em class="event-details">Pandas</em>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="event-modal">
		<header class="header">
			<div class="content">
				<span class="event-date"></span>
				<h3 class="event-name"></h3>
				<h4 class="event-details"></h4>
			</div>

			<div class="header-bg"></div>
		</header>

		<div class="body">
			<div class="event-info"></div>
			<div class="body-bg"></div>
		</div>

		<a href="#0" class="close">Close</a>
	</div>

	<div class="cover-layer"></div>
</div> <!-- .cd-schedule -->
		</div>
	 </section>
</section>
