<section id="greeting" class="wrapper style1 special">
	<div class="inner">
	  <header class="major">
		<h2>{% if site.greeting.title %}{{ site.greeting.title }}{% else %}{{ site.title }}{% endif %}</h2>
		<p>{% if site.greeting.text %}{{ site.greeting.text | markdownify }}{% else %}{{ site.description | markdownify }}{% endif %}</p>

	  </header>
	  <ul class="icons major">{%
	  for socloc in site.social limit:3 %}
		<li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-brands fa-{{ socloc[0] }} major style{% cycle 1, 2, 3 %}"
			   ><span class="label">{{ socloc[0] }}</span></a></li>
	 {% endfor %}
	  </ul>
	</div>
  </section>
