/* your styles go here */
/* Example site test */
@font-face {
    font-display: swap;
}

:root {
    --primary-accent: #4296b0;
    --navbar-border-top: #4296b0;
    --button-border: #62787f;
    --link-focus: #2f5a89;
    --form-shadow: rgba(70, 127, 191, 0.6);
    --pagination-bg: #b8cee6;
    --link-hover-bg: #36669c;
    --navbar-focus: #5bd0f6;
}

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

.home-carousel {
    background: url('../img/banner.webp') center center;
    background-size: cover;
    /*filter: saturate(0.6);*/
    position: relative;
    height: 60em;
}

.home-carousel .container {
    padding-top: 60px;
}
.home-carousel .dark-mask {
    background: #1d242a;
    opacity: 0.3;
}

div #map {
    height: 400px;
}

.home-carousel h1  {
    font-family: "Anton", Sans-serif;
    font-weight: 700;
    /*font-size: 150px;*/
    letter-spacing: 0.0em;
    margin-bottom: 0;
    text-transform: none;
    color: #efefef;

}

.btn {
    border-bottom: 3px solid #ff861d;
    transition: all 0.25s linear;
}

.btn:hover {
    border-bottom-color: #4196b1;
}
.btn-wrapper {
    margin-bottom: 10px;
}
.btn-wrapper a {
    padding: 0px;
}
.btn-wrapper span  {
    color: #ffffff;
    font-size: 38px;
}

.home-carousel h2 {
    font-family: "Anton", Sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.0em;
    -webkit-text-stroke-color: #FFFFFF;
    stroke: #FFFFFF;
    color: #6EC1E400;
}

.home-carousel h3 {
    margin-top: 0;
    font-weight: 300;
}


.banner-bottom {
    margin-top: 80px;
}

.dates {
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 3px;
    padding: 30px;

}

.dates p {
    color: #ffffff
}

@media screen and (min-width: 801px){
    .header-block {
        width: -moz-fit-content;
        width: fit-content;
    }

    .home-carousel h2  {
        font-size: 100px;
        stroke-width: 3px;
        -webkit-text-stroke-width: 3px;
        width: -moz-fit-content;
        width: fit-content;
    }

    .home-carousel h1  {
        font-size: 130px;
        width: -moz-fit-content;
        width: fit-content;
    }

    .home-carousel h3 {
        font-size: 40px;
        text-align: right;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .home-carousel h4 {
        color: #fff;
        font-family: Roboto, Helvetic;
        font-size: 30px;
        font-weight: 350;
        margin-bottom: 10px;
        margin-top: 10px;
        vertical-align: bottom;
        text-align: right;å
    }

    .dates p  {
        font-size: 36px;
    }
}

@media screen and (max-width: 1000px){
    .home-carousel {
        background: url('../img/banner-mobile.webp') center center;
    }
    .dates p  {
        font-size: 24px;
    }
    .dates {
        margin: 20px;
        padding: 10px;
    }
    .home-carousel h1  {
        font-size: 75px;
    }
    .home-carousel h2  {
        font-size: 34px;
        stroke-width: 1px;
        -webkit-text-stroke-width: 1px;
    }
    .home-carousel h4  {
        font-size: 20px;
        color: #fff;
        font-weight: 130;
        margin-top: 50px;
    }
    .btn-wrapper span  {
        color: #ffffff;
        font-size: 24px;
    }
    .btn-wrapper {
        margin-bottom: 6px;
    }
    .banner-bottom {
        margin-top: 10px;
    }
}

.vertical-align {
    display: flex;
    align-items: center;
}

#content {
    margin-bottom: 80px
}

#post-content > p {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
}

.sponsors > .item {
    margin-bottom: 30px;
    padding-bottom: 0;
}

.sponsors > .item > .testimonial > .text {
    margin-bottom: 5px;
}

#copyright {
    background: #555555;
    color: #ccc;
    padding: 30px 0;
    font-size: 12px;
    line-height: 12px;
  }

div .customers > .owl-wrapper-outer > .owl-wrapper {
    display: flex !important;
    align-items: center;
}

div.blog > * li  {
    color: #999999;
}

ul.owl-carousel{
    display: flex !important;
    flex-direction: row;
    justify-content: center;
}


.grid-container {
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 100%;
    display: flex;
    justify-content: center;

    @media only screen and (min-width: 31.375em) {
        flex: 50%;
    }

    @media only screen and (min-width: 48em) {
        flex: 33.3333%;
    }
}


.grid-item.Silver {
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;

& img {
      width: 100%;
      /*height: 13rem;*/

      object-fit: contain;
      height: auto;
      vertical-align: middle;

@media only screen and (min-width: 31.375em) {
    height: 10rem;

}
@media only screen and (min-width: 81.25em) {
    height: 5.125em;
}
}
}

.grid-item.Gold {
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;

& img {
      width: 100%;
      /*height: 13rem;*/

      object-fit: contain;
      height: auto;
      vertical-align: middle;

@media only screen and (min-width: 31.375em) {
    height: 10rem;

}
@media only screen and (min-width: 81.25em) {
    height: 6.125em;
}
}
}


.grid-item.Platinum {
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;

    & img {
          width: 100%;
          /*height: 13rem;*/

          object-fit: contain;
      height: auto;
      vertical-align: middle;

        @media only screen and (min-width: 31.375em) {
            height: 10rem;

        }
        @media only screen and (min-width: 81.25em) {
            height: 8.125em;
        }
    }
}


.grid-item.Diamond {
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;

& img {
      width: 100%;
      /*height: 13rem;*/

      object-fit: contain;
      height: auto;
      vertical-align: middle;

@media only screen and (min-width: 31.375em) {
    height: 10rem;

}
@media only screen and (min-width: 81.25em) {
    height: 15.125em;
}
}
}