<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="item">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>PyData</h1>
                        <h2>Amsterdam</h2>
                    </div>
                </div>
                <div class="row banner-bottom">
                    <div class="col-sm-5 dates">
                        <p>14-16 Sept, 2023</p>
                        <p>Kromhouthal Amsterdam</p>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3">
                        <div class="btn-wrapper">
                            <a href="/tickets" class="btn">
                                <span>Get Tickets</span>
                                <svg xmlns="http://www.w3.org/2000/svg" transform="translate(0 10) scale(0.8)" width="56" height="50" viewBox="0 0 56 50" fill="none"><path d="M29.713 48.6221L22.9954 42.5031L33.2108 32.0607L34.8731 30.3614L32.4959 30.3614L1 30.3614L1 19.6386L32.4959 19.6386L34.8731 19.6386L33.2108 17.9393L22.9954 7.49689L29.7119 1.37891L53.602 25.0394L29.713 48.6221Z" stroke="#FFF" stroke-width="2"></path></svg>
                            </a>
                        </div>
                        <div class="btn-wrapper">
                            <a href="/cfp" class="btn">
                                <span>Submit Talk</span>
                                <svg xmlns="http://www.w3.org/2000/svg" transform="translate(0 10) scale(0.8)" width="56" height="50" viewBox="0 0 56 50" fill="none"><path d="M29.713 48.6221L22.9954 42.5031L33.2108 32.0607L34.8731 30.3614L32.4959 30.3614L1 30.3614L1 19.6386L32.4959 19.6386L34.8731 19.6386L33.2108 17.9393L22.9954 7.49689L29.7119 1.37891L53.602 25.0394L29.713 48.6221Z" stroke="#FFF" stroke-width="2"></path></svg>
                            </a>
                        </div>
                        <div class="btn-wrapper">
                            <a href="/sponsor" class="btn">
                                <span>Become a Sponsor</span>
                                <svg xmlns="http://www.w3.org/2000/svg" transform="translate(0 10) scale(0.8)" width="56" height="50" viewBox="0 0 56 50" fill="none"><path d="M29.713 48.6221L22.9954 42.5031L33.2108 32.0607L34.8731 30.3614L32.4959 30.3614L1 30.3614L1 19.6386L32.4959 19.6386L34.8731 19.6386L33.2108 17.9393L22.9954 7.49689L29.7119 1.37891L53.602 25.0394L29.713 48.6221Z" stroke="#FFF" stroke-width="2"></path></svg>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>