<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://amsterdam.pydata.org/">
<meta property="og:title" content="PyData Amsterdam 2023">
<meta property="og:description" content="PyData Amsterdam 2023 is a 3-day event for the international community of users and developers of data analysis tools to share ideas and learn from each other.">
<meta property="og:image" content="https://amsterdam.pydata.org/img/pydata-img-large.jpeg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://amsterdam.pydata.org/">
<meta property="twitter:title" content="PyData Amsterdam 2023">
<meta property="twitter:description" content="PyData Amsterdam 2023 is a 3-day event for the international community of users and developers of data analysis tools to share ideas and learn from each other.">
<meta property="twitter:image" content="https://amsterdam.pydata.org/img/pydata-img-large.jpeg">