
<section class="bar background-white">
    <div class="container">
        <div class="heading text-center"><h2>What to expect</h2></div>


        <div class="row vertical-align">
            <div class="col-lg-7">
                <p class="lead">
                    PyData Amsterdam 2024 is a 3-day event for the international community of users and developers of data analysis tools to share ideas and learn from each other. The global PyData network promotes discussion of best practices, new approaches, and emerging technologies for data management, processing, analytics, and visualization. PyData communities approach data science using many languages, including (but not limited to) Python, Julia, and R.
                </p>

                <p class="lead">
                    Over the span of 3 days, attendees will have the opportunity to participate in workshops, attend live keynote sessions and talks, as well as get to know fellow members of the PyData Community.
                </p>
            </div>
            <div class="col-lg-5 hidden-xs hidden-sm">
                <img src="/img/PyData-Amsterdam-2023-7579.JPG" alt="" width="450">
            </div>
        </div>

        <div class="row vertical-align">
            <div class="col-lg-6 hidden-xs hidden-sm">
            <!--     <iframe width="560" height="315" src="https://www.youtube.com/embed/P0dDDC80B7o?si=OEwXbDsu4ye1au33" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                <img src="/img/overview.jpeg" width="450">
            </div>
            <div class="col-lg-5">
                
        <p class="lead vcenter">
                    The event will be at the Kromhout Hal in Amsterdam, The Netherlands. (Gedempt Hamerkanaal 231, 1021 KP Amsterdam) on September 16 - Saturday September 18, 2024.
                </p>
            </div>
        </div>
        <div class="col-lg-4 visible-xs visible-sm">
            <img src="/img/meetup1.jpeg" alt="" width="300">
        </div>
    </div>
</section>
