{{ if isset .Site.Params "sponsors" }}
{{ if .Site.Params.sponsors.enable }}
{{ if isset .Site.Data "sponsors" }}
{{ if gt (len .Site.Data.sponsors) 0 }}
<section class="bar background-white no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.sponsors.title | markdownify }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.sponsors.subtitle | markdownify }}
                </p>

                <div>

                        {{ $sponsorLevels := slice "Diamond" "Platinum" "Gold"}}
                        {{ range $_, $sponsorLevel := $sponsorLevels }}

                        <div class="heading text-center">
                            <h3>{{$sponsorLevel}} Sponsors</h3>
                        </div>
                        <div class="grid-container">
                            {{ range $_, $sponsor := $.Site.Data.sponsors }}
                            {{ if (eq $sponsor.level $sponsorLevel) }}
                            <div class="col" title="{{ .name }}">
                                <figure class="grid-item {{$sponsorLevel}}">
                                <a href="{{ .url }}" target="_blank">
                                    <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                                </a>
                                </figure>
                            </div>
                            {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                        {{ end }}

                </div>


                <!-- /.owl-carousel -->
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
