
<section class="bar background-white">
    <div class="container">
        <div class="heading text-center"><h2>It's a wrap!</h2></div>


        <div class="row vertical-align">
            <div class="col-lg-7">
                <p class="lead">
                    PyData Amsterdam 2023 is unfortunately over. We can look back to an extremely succesfull and fun event.
                    Over 800 people have visited the Kromhouthal over 3 days of conference, participating in our 8 workshops,
                    attending our 5 amazing keynotes, listening to over 80 experienced speakers and visiting our 16 sponsors.
                </p>
                <p class="lead">
                    This is obviously not the end of PyData Amsterdam, and we are already thinking about how to make next years' event
                    even better. Are you interested in helping make this possible, reach out to us at amsterdam@pydata.org, or find any
                    of the organizers <a href="/about">listed here</a>!
                </p>
            </div>
            <div class="col-lg-5 hidden-xs hidden-sm">
                <img src="/img/goodbye-for-now.jpeg" alt="" width="400">
            </div>
        </div>
        <div class="row vertical-align">
            <div class="col-lg-5 hidden-xs hidden-sm">
                <img src="/img/overview.jpeg" alt="" width="400">
            </div>
            <div class="col-lg-7">
                <p class="lead vcenter">
                    Recordings of the talks and other photographic material of the event will be made available shortly. Subscribe to the <a href="https://www.youtube.com/@PyDataTV">PyData channel
                    on YouTube</a> to get notified when they are made available
                </p>
            </div>
        </div>
        <div class="col-lg-4 visible-xs visible-sm">
            <img src="/img/meetup1.jpeg" alt="" width="300">
        </div>

        <div class="col-lg-4 visible-xs visible-sm">
            <img src="/img/meetup1.jpeg" alt="" width="300">
        </div>
    </div>
</section>
