<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "banner.html" . }}


<!--        {{ partial "description.html" . }}-->

        {{ partial "wrap-up.html" .}}

        {{ partial "recent_posts.html" . }}

        {{ partial "location.html" . }}

        {{ partial "sponsors.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
