<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}
        {{ partial "banner.html" . }}
        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <a href="/program">Program</a> > {{ .Params.title }}

                <section class="bar background-white">

                    <div class="container">


                        <div class="heading text-center"><h2>About the talk</h2></div>


                        <div class="row vertical-align">
                            <div class="col-lg-8">
                                <p class="lead">
                                    {{ .Content }}
                                </p>
                            </div>
                            <div class="col-lg-4 hidden-xs hidden-sm">
                                <img src="/img/meetup1.jpeg" alt="" width="300">
                            </div>
                        </div>

                        <div class="row vertical-align">
                            <div class="col-lg-4 hidden-xs hidden-sm">
                                <img src="/img/meetup2.jpeg" alt="" width="300">

                            </div>
                            <div class="col-lg-8">
                                <p class="lead vcenter">
                                <div class="heading text-center"><h2>The speaker: {{ .Params.speaker }}</h2></div>
                                    {{ .Params.speaker_about }}
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 visible-xs visible-sm">
                            <img src="/img/meetup1.jpeg" alt="" width="300">
                        </div>
                    </div>
                </section>

                <!-- /.row -->

            </div>
<!--            <pretalx-schedule event-url="https://amsterdam2023.pydata.org/cfp/" locale="en" format="grid" style="&#45;&#45;pretalx-clr-primary: #4C9CB4"></pretalx-schedule>-->
<!--            <noscript>-->
<!--                <div class="pretalx-widget">-->
<!--                    <div class="pretalx-widget-info-message">-->
<!--                        JavaScript is disabled in your browser. To access our schedule without JavaScript,-->
<!--                        please <a target="_blank" href="https://amsterdam2023.pydata.org/cfp/schedule/">click here</a>.-->
<!--                    </div>-->
<!--                </div>-->
<!--            </noscript>-->
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
